#Obtain API from firebase under settings, general. You should see something similar to this.

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=


# API for OCR part
# Obtain your API key here: https://aistudio.google.com/app/api-keys
OPENAI_API_KEY="your-api-key"
OPENAI_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
OPENAI_MODEL="gemini-2.5-flash"
# Insert your local port here, default backend API for FastAPI is port 8000
VITE_RECEIPT_OCR_URL="http://localhost:8000"